# Current Jupyter Notebook Conversion

## Raw Text

Default DataFrame output is raw text.

In [1]:
import pandas as pd
df = pd.read_csv('data/bikes.csv')
df

  gender            starttime  tripduration        station  temperature
0   Male  2013-06-28 19:01:00           993  Lake Shore Dr         73.9
1   Male  2013-06-28 22:53:00           623     Clinton St         69.1
2   Male  2013-06-30 14:43:00          1040  Sheffield Ave         73.0
3   Male  2013-07-01 10:05:00           667   Carpenter St         72.0
4   Male  2013-07-01 11:16:00           130      Damen Ave         73.0

## Simple Latex table

Must change option in pandas to see latex representation.

In [ ]:
pd.options.display.latex.repr = True
df

## Screenshot image

This is a screen shot of a pandas DataFrame.

![](ss.png)